.article {
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 15px;
  line-height: 1.35;
  margin-bottom: 20px;
  max-width: 400px;
  margin: auto;

  > *:not(:last-child) {
    margin-bottom: 20px;
  }
}
