.content-area {
  @include background-image(linear-gradient(#1b2e58, #258dc3));
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;

  .no-cssgradients & {
    background: #4189c5 url(images/blue-gradient-bg.png) repeat-x top;
  }
}

.content-area__section-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200%;
  @include transition(transform 500ms);
}

.content-area__slideshow-container,
.content-area__t-and-c-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
}

.content-area__t-and-c-container {
  left: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 40px;
}

@include medium-viewport {
  .content-area {
    top: 100px;
  }

  .content-area__t-and-c-container {
    padding-bottom: 150px;
  }

  .content-area__slideshow-container-inner {
    width: 710px;
    margin: auto;
  }
}

