.content-slide-collection {
  @extend %fit-parent;
  transition: transform 500ms;
}

.content-slide-collection__slide {
  @extend %fit-parent;

  &[data-cid="INTRO"] {
    text-align: center;
  }
}

.content-slide-collection__content-container {
  margin-top: 320px;
  padding-left: 20px;
  padding-right: 20px;
}

.content-slide-collection__content-container-inner {
  max-width: 400px;
  margin: auto;
}


@include medium-viewport {
  .content-slide-collection__content-container {
    margin-top: 151px;
    margin-left: auto;
    margin-right: auto;
    width: 710px;
    padding-left: 0;
    padding-right: 0;
    position: relative;
  }

  .content-slide-collection__content-container-inner {
    float: right;
    position: relative;
    @include transform(translateY(-50%));
  }

  .content-slide-collection .continue-prompt {
    display: none;
  }
}

