.site-header {
  @include background-image(linear-gradient(#fbfbfb, #e4e3e3));
  .no-cssgradients & {
    background: #fbfbfb url(images/grey-fade-bg.png) repeat-x bottom;
  }
}

.site-header__container {
  padding: 7px 10px;
  height: 30px;
}

.site-header__logo {
  @extend .icon-o2;
  display: inline-block;
  font-size: 26px;
  color: $o2-blue;
  position: relative;
  top: 2px;
  &:before { vertical-align: top; }
}
.site-header__cta { display: none; }

.site-header__telefonica-logo {
  @extend .icon-telefonica;
  display: none;
}

@include medium-viewport {
  .site-header__container {
    padding: 25px 20px;
    margin: auto;
    height: 50px;
    max-width: 1130px;
    text-align: center;
    font-family: "Open Sans";
  }

  .site-header__cta {
    display: inline;
    color: #419edb;
    font-size: 20px;
    text-decoration: none;
  }

  .site-header__logo {
    font-size: 50px;
    float: left;
    position: static;
  }

  .site-header__telefonica-logo {
    display: block;
    float: right;
    font-size: 100px;
    color: #2f4f5a;
    &:before {
      position: relative;
      top: -35px;
    }
  }
}

