.spotlight {
  margin-left: auto;
  margin-right: auto;
  max-width: 310px;
  margin-bottom: 20px;
  position: relative;

  @include intrinsic-ratio(640, 626) {
    background-image: url("/images/spotlight.png");
    background-size: contain;
  }
}

.spotlight-subject-collection {
  @extend %fit-parent;
}

.spotlight-subject-collection__subject {
  position: absolute;
  top: 23%;
  left: 50%;
  width: 35%;
  background-size: contain;
  transition: opacity 500ms;

  img {
    position: absolute;
    left: -50%;
    width: 100%;
  }

  &.inactive { opacity: 0; }

  &[data-cid="INTRO"] {
    top: 32%;
  }

  &[data-cid="O2_LEASE"] {
    top: 37%;
    width: 26%;
  }
}


@include medium-viewport {
  .spotlight {
    margin-left: -20px;
  }
}

