html {
  font-family: sans-serif;
  color: $white;
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans.woff");
}

@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-light.woff");
  font-weight: 300;
}

@font-face {
  font-family: "o2-resign";
  src: url("/fonts/o2-resign.woff");
}

%icon {
  font-family: "o2-resign" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  @extend %icon;
}

.icon-down-arrow:before {
  @extend %icon;
  content: "a";
}
.icon-telefonica:before {
  @extend %icon;
  content: "c";
}
.icon-o2:before {
  @extend %icon;
  content: "b";
}

%long-form-copy {
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 1.35;
  font-size: 15px;

  h2 {
    font-size: 24px;
    font-weight: normal;
  }

  > *:not(:last-child) {
    margin-bottom: 18px;
  }

  a {
    color: $white;
    text-decoration: none;
  }
}

