%fit-parent {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%centered {
  position: absolute;
  top: 50%;
  left: 50%;
  @include transform(translateX(-50%) translateY(-50%));
}

%intrinsic-ratio-base {
  &:after {
    display: block;
    content: "";
  }
}

@mixin intrinsic-ratio($width, $height) {
  @extend %intrinsic-ratio-base;
  &:after {
    padding-bottom: (percentage($height / $width));
    @content;
  }
}

@mixin medium-viewport {
  @media (min-width: 769px) {
    @content;
  }
}
